*{
  margin: 0;
  padding: 0;
}
body{
  background: white;
}
/*.contenedor{
  margin-left: 5%;
  width: 100%;
  padding: 5px;
}*/
/*.formulario{
  float: left;
  background: #fff;
  margin-top: 2px;
  padding: 3px;
  
}*/
label, p{
  font-size: 17px;
  text-align: left;
  color: rgb(209,144,0);
  padding: 3px;
}

legend{
  text-align: left;
  color: rgb(0,66,106);
  padding: 5px;
  margin-top: 20px;
  font-size: 20px;

}

input[type="text"]{
  font-size: 15px;
  padding: 10px;
  border:  1px solid #aaa;
}
.uno{
  margin-left: 50%;
}
fieldset {
  display: block;
  margin-left: 0px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.60em;
  padding-right: 0.75em;
  border: 1px groove (internal value);
}

table{
  width: 1400px;
  margin: 50px auto;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border-collapse: collapse;
  box-shadow: 0 0 1px #ccc;
  font-size: 13px;
}

table tr td, th{
  padding: 5px, 10px;
  border: 1px solid #eee;
  text-align: center;
  font-size: 15px;
}

table button{
  box-shadow: 0 0 1px #333;
  padding: 3px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border: transparent;
  background: #eee;
  color: white;
}

table #eliminar{
  background: #116cb6;
}
table #cuenta{
  background: #116cb6;
}

.eliminar:hover{
  background: rgb(218,170,0);
}

table th {
  color: #fff;
  background-color: #116cb6;
}


table td{
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

table td:focus{
  background:  rgb(0,66,106);
  color: white;
  transform: translateY(-22px) rotateX(360deg);
}

.button{
  border: none;
  width: 10%;
  color: white;
  font-size: 15px;
  background: rgb(0,66,106);
  padding: 12px 50px ;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;

}
.button:hover{
  background: rgb(218,170,0);
}

.button2{
  border: none;
  width: 5%;
  color: white;
  font-size: 15px;
  background: rgb(0,66,106);
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;

}
.button2:hover{
  background: rgb(218,170,0);
}
