.droppdown {
  float: left;
  overflow: hidden;
}

.droppdown .droppbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .droppdown:hover .droppbtn {
  background-color: rgb(204, 204, 204);
}

.droppdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.droppdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.droppdown-content a:hover {
  background-color: #ddd;
}

.droppdown:hover .droppdown-content {
  display: block;
  position: absolute;
}

